class Config:
    APP_NAME = "{{project_name}}"

    {% if project_database is not None %}
    DATABASE = {
        "engine": "{{project_database}}",
        "host": "",
        "port": "",
        "user": "",
        "password": "",
        "name": ""
    }
    {% endif %}


class DevelopmentConfig(Config):
    pass


class ProductionConfig(Config):
    pass


class TestingConfig(Config):
    pass
